<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Camber_Measurement_System.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Camber_Measurement_System.Properties.Settings>
            <setting name="Sensor_IP" serializeAs="String">
                <value>169.254.168.150</value>
            </setting>
            <setting name="TDpR" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="SPpR" serializeAs="String">
                <value>6400</value>
            </setting>
            <setting name="MaxPPS" serializeAs="String">
                <value>50000</value>
            </setting>
            <setting name="maxthickness" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="minthickness" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Ta" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="Td" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="Strokelength" serializeAs="String">
                <value>2300</value>
            </setting>
            <setting name="offset_from_edge" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="folder_path" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="main_folder_name" serializeAs="String">
                <value>Measurements</value>
            </setting>
            <setting name="delete_interval" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="last_delete_time" serializeAs="String">
                <value />
            </setting>
            <setting name="selected_style" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="point_quantity" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="filter_coef" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="offset_calib" serializeAs="String">
                <value>0</value>
            </setting>
        </Camber_Measurement_System.Properties.Settings>
    </userSettings>
</configuration>